.footer {
    background-color: #0F2C67;
    color: white;
    height: 300px;   
}

.footer h6 {
    text-align: center;
    padding-top: 30px;
}

.footer .flex-item{
    margin : 20px;
    font-size: 30px;
    display: inline-block;
    padding-right: 10%;
    margin-right: 0.5%;
}

.footer a {
    color: white;
    background-color:#0F2C67;
}

.footer ul {
    margin : auto;
    width: 550px;
    /* margin-top: 10px; */
}

.footer h1{
  text-align: center;
  padding-top: 50px;
}

  /* @media (max-width: 800px) {
    .form-inline input {
      margin: 10px 0;
    }
  
    .form-inline {
      flex-direction: column;
      align-items: stretch;
    }
  } */